.navbar {
    border: 1px solid red; 
    padding: 10px; 
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
li {
    padding: 10px;
}
.logo {
    float: left;
}
.pages {
    display: flex;
    align-items: center;
}
.topics {
    display: flex;
    justify-content: space-around;
}
.hero {
    border: 1px solid red;
    text-align: center;
    height: auto;
    max-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.cards {
    border: 1px solid red;
    text-align: center;
}
footer {
    border: 1px solid red;
}
img {
    max-width: 100%;
    max-height: 100%;
}
